{% load blog_tags keyword_tags i18n future %}

{% block blog_recent_posts %}
{% blog_recent_posts 5 as recent_posts %}
{% if recent_posts %}
<div class="rightbar_titles">{% trans "Recent Posts" %}</div>
<ul class="list-unstyled recent-posts">
{% for recent_post in recent_posts %}
<li><a class="rightbar_content" href="{{ recent_post.get_absolute_url }}"
    >{{ recent_post.title }}</a></li>
{% endfor %}
</ul>
{% endif %}
{% endblock %}

{% block blog_months %}
{% blog_months as months %}
{% if months %}
<div class="rightbar_titles">{% trans "Archive" %}</div>
{% for month in months %}
    {% ifchanged month.date.year %}
        {% if not forloop.first %}</ul>{% endif %}
        <div class="rightbar_year">{{ month.date.year }}</div><ul class="list-unstyled">
    {% endifchanged %}
    <li><a class="rightbar_month" href="{% url "blog_post_list_month" year=month.date.year month=month.date.month %}"
        >{{ month.date|date:"F" }}</a> ({{ month.post_count }})</li>
{% endfor %}
</ul>
{% endif %}
{% endblock %}

{% block blog_categories %}
{% blog_categories as categories %}
{% if categories %}
<div class="rightbar_titles">{% trans "Categories" %}</div>
<ul class="list-unstyled">
{% for category in categories %}
<li><a class="rightbar_content" href="{% url "blog_post_list_category" category.slug %}"
    >{{ category }}</a> ({{ category.post_count }})</li>
{% endfor %}
</ul>
{% endif %}
{% endblock %}

{% block blog_keywords %}
{% keywords_for blog.blogpost as tags %}
{% if tags %}
<div class="rightbar_titles">{% trans "Tags" %}</div>
<ul class="list-inline tag-cloud">
{% for tag in tags %}
<li>
    <a class="rightbar_content" href="{% url "blog_post_list_tag" tag.slug %}"
        class="tag-weight-{{ tag.weight }}">{{ tag }}</a>
    ({{ tag.item_count }})
</li>
{% endfor %}
</ul>
{% endif %}
{% endblock %}

{% block blog_authors %}
{% blog_authors as authors %}
{% if authors %}
<div class="rightbar_titles">{% trans "Authors" %}</div>
<ul class="list-unstyled">
{% for author in authors %}
    <li><div class="rightbar_content"><a href="{% url "blog_post_list_author" author.username %}"
        >{{ author.get_full_name|default:author.username }}</a>
        ({{ author.post_count }})</div></li>
{% endfor %}
</ul>
{% endif %}
{% endblock %}

{% block blog_feeds %}
<div class="rightbar_titles">{% trans "Feeds" %}</div>
<div class="rightbar_content">
{% if tag %}
    <a href="{% url "blog_post_feed_tag" tag.slug "rss" %}">{% trans "RSS" %}</a> /
    <a href="{% url "blog_post_feed_tag" tag.slug "atom" %}">{% trans "Atom" %}</a>
{% endif %}
{% if category %}
    <a href="{% url "blog_post_feed_category" category.slug "rss" %}">{% trans "RSS" %}</a> /
    <a href="{% url "blog_post_feed_category" category.slug "atom" %}">{% trans "Atom" %}</a>
{% endif %}
{% if author %}
    <a href="{% url "blog_post_feed_author" author.username "rss" %}">{% trans "RSS" %}</a> /
    <a href="{% url "blog_post_feed_author" author.username "atom" %}">{% trans "Atom" %}</a>
{% endif %}
{% if not tag and not category and not author %}
    <a href="{% url "blog_post_feed" "rss" %}">{% trans "RSS" %}</a> /
    <a href="{% url "blog_post_feed" "atom" %}">{% trans "Atom" %}</a>
{% endif %}
</div>
{% endblock %}
