* {
	font-family: 'Open Sans', sans-serif;
}

html,
body {
   margin:0;
   padding:0;
   height:100%;
}

body {
	font-size: 1.5em;
	min-width: 600px;
	margin: 0 auto;
	background-image: url(../images/background1.jpg);
}

.first {
	margin-top: -0.5em;
	padding: 0;
}

h2 {
	font-size: 1.3em;
}

hr {
	background-color: #AAAAAA;
	border: 0;
	height: 1px;
}

#container {
	min-height: 100%;
	position: relative;
}

/*******************************************/
/*                 HEADER                  */
/*******************************************/

.header {
	color: #222222;
	width: 100%;
	padding: 0.5em 0 0 0;
	background: #222222;
	font-family: 'Roboto', sans-serif;
}

.header_banner {
	width: 75%;
	margin: auto;
}

/*******************************************/
/*               NAVIGATION                */
/*******************************************/

.nav_bar {
	width: 100%;
	background: #333333;
	border-bottom: 0.3em solid #272727;
	box-shadow: 0px 5px 5px #888888;
	-moz-box-shadow: 0px 5px 5px #888888;
  	-webkit-box-shadow: 0px 5px 5px #888888;
}

.nav_bar_align {
	width: 75%;
	margin: auto;
}

.nav_container {
	margin-right: auto;
	padding: 0.2em 0 0 0;
	display: table;
	width: 75%;
}

.nav_btn {
	border-radius: 8px 8px 0 0;
	width: 20%;
	display: table-cell;
	text-align: center;
}

.nav_btn:hover {
	background: #2A2A2A;
	box-shadow: inset 0 1px 20px #222222;
	-moz-box-shadow: inset 0 1px 20px #222222;
  	-webkit-box-shadow: inset 0 1px 20px #222222;
}

.nav_btn a {
	padding: 0.2em 0 0 0;
	color: #FFFFFF;
	display: block;
	text-decoration: none;
}

.nav_btn a:hover {
	color: #FFCC00;
}

.nav_btn_current {
	border-radius: 0.5em 0.5em 0 0;
	width: 20%;
	display: table-cell;
	text-align: center;
	background: #2A2A2A;
	box-shadow: inset 0 1px 20px #222222;
	-moz-box-shadow: inset 0 1px 20px #222222;
  	-webkit-box-shadow: inset 0 1px 20px #222222;
}

.nav_btn_current a {
	padding: 0.2em 0 0 0;
	color: #FFCC00;
	display: block;
	text-decoration: none;
}

.login {
	background: red;
}

/*******************************************/
/*                  BODY                   */
/*******************************************/

#body {
	padding: 0 0 5em 0;
}

.body_container {
	border-spacing: 0.2em;
	display: table;
	width: 75%;
	margin: 0em auto 1.2em auto;
	/*padding: 0 0 5em 0;*/
	background: #DDDDDD;
	box-shadow: 0px 5px 10px #444444;
	-moz-box-shadow: 0px 5px 10px #444444;
  	-webkit-box-shadow: 0px 5px 10px #444444;
}

.content {
	display: table-cell;
	width: 75%;
	padding: 0 1.0em;
}

.entry {
	padding: 0 0  1em 0;
}

.entry_title {
	width: 105%;
	display: table;
	padding: 0 0 0 1.0em;
	margin: 0 0 0 -1.2em;
	background: linear-gradient(left, #BBBBBB 0%, #CCCCCC 2%);
	background: -moz-linear-gradient(left, #BBBBBB 0%, #CCCCCC 2%);
	background: -webkit-linear-gradient(left, #BBBBBB 0%, #CCCCCC 2%);
	box-shadow: 0px 3px 3px #999999;
	-moz-box-shadow: 0px 3px 3px #999999;
  	-webkit-box-shadow: 0px 3px 3px #999999;
}

.title {
	width: 40%;
	display: table-row;
	font-size: 1.4em;
	padding: 0 0 0 10px;
}

.date {
	display: table-row;
	font-size: 0.75em;
	padding: 0 1.0em 0 0;
	text-align: left;
}


/*******************************************/
/*                SIDE BAR                 */
/*******************************************/

.side_bar {
	vertical-align: top;
	display: table-cell;
	width: 25%;
	padding: 0.2em;
	background: #CFCFCF;
}

.side_options {
	font-size: 1em;
	list-style: none;
	margin: -1em 0;
	padding: 0 0 0 10px;
}

.side_options a {
	color: #444444;
}

.side_options a:hover {
	color: #000000;
}

.calendar {
	font-size: 18px;
	padding: 100px 50px;
	background: #AAAAAA;
}


/*******************************************/
/*                 FOOTER                  */
/*******************************************/

#footer {
	width: 100%;
	position: absolute;
	bottom: 0;
	/*margin: 1em 0 0 0;*/
	background: #EEEEEE;
	border-top: 0.2em solid #CCCCCC; 
}

.footer_content {
	color: #AAAAAA;
	font-size: 0.75em;
	width: 75%;
	padding: 0.5px 0;
	margin: 0 auto;
}