@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @media screen and (max-width: 400px) {
        html {
            font-size: 0.85em;
        }
    }

    @media screen and (max-width: 300px), screen and (max-height: 640px) {
        html {
            font-size: 0.7em;
        }
    }
    :root {
        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 210 40% 98%;
        --ring: 215 20.2% 65.1%;

    }
}
