.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 1.25rem;
    box-sizing: border-box;
}

.polaroid {
    position: absolute;
    background-color: #fff;
    border: 1em solid #fff;
    box-shadow:
        0 0.78125rem 6.25rem -0.625rem rgba(50, 50, 73, 0.3),
        0 0.625rem 0.625rem -0.625rem rgba(50, 50, 73, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    filter: saturate(0.9) contrast(0.9) brightness(1.2) sepia(0.2);
    will-change: transform;
}

.polaroid:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: radial-gradient(circle, transparent, rgba(0, 0, 0, 0.5));
    pointer-events: none;
}

.polaroid:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    background-image: url('/img/noise.webp');
    opacity: 0.05;
    mix-blend-mode: soft-light;
    filter: grayscale(0.4) contrast(1.1) brightness(0.98);
}

.polaroid.portrait {
    width: 18em;
    height: 24em;
    border-top: 2em solid #fff;
    border-bottom: 5.5em solid #fff;
}

.polaroid.landscape {
    width: 24em;
    height: 18em;
    border-left: 2em solid #fff;
    border-right: 5.5em solid #fff;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.shuffle-button {
    position: absolute;
    top: 0.625rem;
    left: 0.625rem;
    background-color: #d4d4d4;
    color: black;
    padding: 0.625rem 1.25rem;
    border: none;
    border-radius: 0.75rem;
    cursor: pointer;
    font-size: 1rem;
    z-index: 1000;
}

.folder-select {
    position: absolute;
    top: 3.75rem;
    left: 0.625rem;
    background-color: #d4d4d4;
    color: black;
    padding: 0.625rem 1.25rem;
    border: none;
    border-radius: 0.75rem;
    cursor: pointer;
    font-size: 1rem;
    z-index: 1000;
    padding-right: 2.5rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.num-images-select {
    position: absolute;
    top: 6.9rem;
    left: 0.625rem;
    background-color: #d4d4d4;
    color: black;
    padding: 0.625rem 1.25rem;
    border: none;
    border-radius: 0.75rem;
    cursor: pointer;
    font-size: 1rem;
    z-index: 1000;
    padding-right: 2.4rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.animate-toggle-button {
    position: absolute;
    top: 10.1rem;
    left: 0.625rem;
    background-color: #d4d4d4;
    color: black;
    padding: 0.625rem 1.25rem;
    border: none;
    border-radius: 0.75rem;
    cursor: pointer;
    font-size: 1rem;
    z-index: 1000;
}

.bi-chevron-down-images {
    font-size: 1.25rem;
    color: black;
    position: absolute;
    top: 7.7rem;
    left: 7rem;
    z-index: 2000;
}

.bi-chevron-down-folder {
    font-size: 1.25rem;
    color: black;
    position: absolute;
    top: 4.5rem;
    left: 13.75rem;
    z-index: 2000;
}
