.polaroid::before {
    content: '';
    position: absolute;
    inset: 0;
    pointer-events: none;
    background: radial-gradient(circle, transparent, rgba(0, 0, 0, 0.5));
}

.polaroid::after {
    content: '';
    position: absolute;
    inset: 0;
    pointer-events: none;
    background-image: url('/images/noise.webp');
    opacity: 0.05;
    mix-blend-mode: soft-light;
    filter: grayscale(0.4) contrast(1.1) brightness(0.98);
}
