* {
	font-family: 'Open Sans', sans-serif;
}

html,
body {
   margin:0;
   padding:0;
   height:100%;
}

body {
	font-size: 1em;
	margin: 0 auto;
	background-image: url(../images/background1.jpg);
}

.first {
	margin-top: -0.5em;
	padding: 0;
}

h2 {
	font-size: 1.3em;
}

h6 {
	font-size: 0.4em;
}

hr {
	background-color: #AAAAAA;
	border: 0;
	height: 1px;
}

#container {
	min-height: 100%;
	position: relative;
}

a:link{
	color:#000000;
	text-decoration: none;
}

a:visited{
	color:#3d3d3d;
	text-decoration: none;
}

a:hover{
	color:#898989;
	text-decoration: none;
}

a:active{
	color:#5b5b5b;
	text-decoration: none;
}

.titler{
	/*padding: 0 0 0 1em;*/
}

.readmore{
	color:#000000;
	font-weight:bold;
}

.linebreaker{
	display:block;
	margin: 0.5em;
}

.buttoncolour{
	color:white;
}

.formy{
	line-height: 100%;
}

.pagenumbers{
	width: 110%;
	display: table;
	padding: 0 0 0 0;
	margin: 0 0 -1em -1em;
	background: #CCCCCC;
	text-align: center;
}

.searchbar{
	display: table-cell;
	width: 25%;
	padding: 0 0.5em;
}

.greeting{
	font-size: 1.7em;
	padding-bottom: 0.8em;
}

.search_headings{
	font-size: 1.2em;
	font-weight: bold;
}

.search_contents{
	margin-left: 1.4em;
}

/*******************************************/
/*                 HEADER                  */
/*******************************************/

.header {
	color: #ffcc00;
	width: 100%;
	padding: 0.5em 0 0 0;
	background-color: #262626;
	font-family: 'Roboto', sans-serif;
	min-width: 35em;
}

.header_banner {
	width: 100%;
	margin: auto;
	min-width: 35em;
}

/*******************************************/
/*               NAVIGATION                */
/*******************************************/

.nav_bar {
	width: 100%;
  	min-width: 35em;
	background: #333333;
	border-bottom: 0.3em solid #272727;
	box-shadow: 0px 5px 5px #888888;
	-moz-box-shadow: 0px 5px 5px #888888;
  	-webkit-box-shadow: 0px 5px 5px #888888;
}

.nav_bar_align {
	display: table;
	width: 75%;
	min-width: 35em;
	margin: auto;
}

.nav_container {
	margin-right: auto;
	padding: 0.2em 0 0 0;
	display: table;
	width: 75%;
}

.nav_btn {
	border-radius: 8px 8px 0 0;
	width: 20%;
	display: table-cell;
	text-align: center;
}

.nav_btn:hover {
	background: #2A2A2A;
	box-shadow: inset 0 1px 20px #222222;
	-moz-box-shadow: inset 0 1px 20px #222222;
  	-webkit-box-shadow: inset 0 1px 20px #222222;
}

.nav_btn a {
	padding: 0.2em 0 0 0;
	color: #FFFFFF;
	display: block;
	text-decoration: none;
}

.nav_btn a:hover {
	color: #FFCC00;
}

.nav_btn_current {
	border-radius: 0.5em 0.5em 0 0;
	width: 20%;
	display: table-cell;
	text-align: center;
	background: #2A2A2A;
	box-shadow: inset 0 1px 20px #222222;
	-moz-box-shadow: inset 0 1px 20px #222222;
  	-webkit-box-shadow: inset 0 1px 20px #222222;
}

.nav_btn_current a {
	padding: 0.2em 0 0 0;
	color: #FFCC00;
	display: block;
	text-decoration: none;
}

.login {
	background: red;
}

/*******************************************/
/*                  BODY                   */
/*******************************************/

#body {
	padding: 0 0 5em 0;
}

.body_container {
	display: table;
	width: 75%;
	min-width: 35em;
	margin: 0em auto 1.2em auto;
	background: #DDDDDD;
	box-shadow: 0px 5px 10px #444444;
	-moz-box-shadow: 0px 5px 10px #444444;
  	-webkit-box-shadow: 0px 5px 10px #444444;
}

.content {
	display: table-cell;
	padding: 0.5em 1.0em 1.0em 1.0em;
}

.entry {
	/*padding: 0 0  1em 1em;*/
}

.entry_title {
	width: 110%;
	display: table;
	padding: 0.5em 0 0.5em 1.0em;
	margin: 0 0 0 -1.0em;
	background: linear-gradient(left, #BBBBBB 0%, #CCCCCC 2%);
	background: -moz-linear-gradient(left, #BBBBBB 0%, #CCCCCC 2%);
	background: -webkit-linear-gradient(left, #BBBBBB 0%, #CCCCCC 2%);
	box-shadow: 0px 3px 3px #999999;
	-moz-box-shadow: 0px 3px 3px #999999;
  	-webkit-box-shadow: 0px 3px 3px #999999;
}

.blog_title{
	width: 100%;
	font-weight: bold;
	font-size: 2em;
}

.author {
}

.date {
	font-size: 0.9em;
	padding: 0.5em 0 0 0;
}

.padderouter{
	padding: 0.6em 0 0 0;
}


/*******************************************/
/*                SIDE BAR                 */
/*******************************************/

.side_bar {
	vertical-align: top;
	display: table-cell;
	width: 25%;
	padding: 0.5em;
	background: #BFBFBF;
}

.side_options {
	font-size: 1em;
	list-style: none;
	margin: -1em 0;
	padding: 0 0 0 10px;
}

.side_options a {
	color: #444444;
}

.side_options a:hover {
	color: #000000;
}

.rightbar {
	background: #DDDDDD;
}

.rightbar_titles{
	font-weight: bold;
	font-size: 1.2em;
	line-height: 100%;
	padding: 0.2em;
	background: #CCCCCC;
}

.rightbar_year{
	font-weight: bold;
	margin-left: 1em;
}

.rightbar_month{
	margin-left: 2em;
}

.rightbar_content{
	margin-left: 1em;
}


/*******************************************/
/*                 FOOTER                  */
/*******************************************/

#footer {
	width: 100%;
	position: absolute;
	bottom: -5em;
	background: #EEEEEE;
	border-top: 0.2em solid #CCCCCC;
}

.footer_content {
	color: #888888;
	font-size: 0.75em;
	width: 75%;
	min-width: 47em;
	padding: 0 0.5em;
	margin: auto;
}
